<nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/users/sign-up">Sign Up</a></li>
      <li><a href="/users/sign-in">Sign In</a></li>
      <li><a href="/users/welcome">Welcome</a></li>
      <li><a href="/tickets/my-tickets">My Tickets</a></li>
      <li><a href="/tickets/order">Buy Ticket</a></li>
      <li><a href="/users/sign-out">Sign Out</a></li>


    </ul>
  </nav>
  <hr>
  