<%- include("partials/header") %>
<%- include("partials/nav") %>

<h2>401 - Unauthorized</h2>
<p>You need to log in to access this page.</p>

<a href="/users/sign-in">Go to Sign In</a>

<%- include("partials/footer") %>
