<%- include("partials/header") %>
<%- include("partials/nav") %>

<h1>Welcome to Our Theme Park !</h1>
<p>Please sign up or log in to book your tickets.</p>
<p>You can also <a href="/rides">view all rides</a> before logging in.</p>

<%- include("partials/footer") %>
